<p><b>Pipes</b></p>
<p><b>Pipe Fecha</b></p>
{{fecha | date: 'fullDate' | uppercase}} <br>
<p><b>Pipe Creado Calculadora</b></p>
{{4 | calculadora: 4}}

<hr>
<input type="number" [(ngModel)]='userId' (keyup.enter)="cargaUsuario()">

<div *ngIf="!user">
    Cargando...
</div>

<div *ngIf="user">
    <img [src]="user.avatar" alt="" width="200px">
    <h2>{{user.first_name + user.last_name}}</h2>

</div>

<hr>

<form #newUser="ngForm" (ngSubmit)="onSumbit(newUser)">
    <p>
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="new_user.name" required>

        <span *ngIf="nombre.touched && !nombre.valid">Verifique su nombre</span>
    </p>

    <p>
        <label for="job">Trabajo</label>
        <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required>
        <span *ngIf="job.touched && !job.valid">Verifique su trabajo</span>
    </p>

    <input type="submit" value="Guardar" [disabled]="!newUser.valid">
</form>
