*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    text-align: center;
}
a{
    padding-inline: 5rem;
    font-size: 1.5rem;
}
img{
    margin: auto;
    display: block;
    border-radius: 150px;
}

p{
    text-align: justify;
    padding-inline: 10%;
}

table{
    margin: auto;
}

tr, td, th{
    border: solid;
}

.tableImg{
    margin: auto;
    display: block;
    width: 300px;
}

form{
    display: inline-block;
}

.pacman{
    width: 50rem;
}