
body {
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo { 
    background: #CA343D;
}

#menu ul li:hover{
    background: #CA343D;
}


.button-more{
    background: #CA343D;
}