<!-- <app-header titulo='hola Mundo'></app-header> -->

 <div [ngStyle]="{'background-color': config.color, 'color': config.fuente, 'padding': '15px'}">
    <h1>{{config.titulo}}</h1>
<p>{{config.descripcion}}</p>
</div>

<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a> &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a> &nbsp;
    <a [routerLink]="['/videojuegos']" [routerLinkActive]="['active']">Video Juegos</a> &nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a> &nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo</a> &nbsp;
    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a> &nbsp;
    
</nav>

<hr>

<button (click)="ocultarVideojuegos(true)" *ngIf="!oculto">Ocultar</button>
<button (click)="ocultarVideojuegos(false)" *ngIf="oculto">Mostrar</button>

<app-videojuego *ngIf="!oculto"></app-videojuego>

<router-outlet></router-outlet>
<!-- <app-zapatillas></app-zapatillas> --> 