<h2>Pagina Principal</h2>

<div *ngIf="identificado; then siIdentificado else noIdentificado"></div>

<ng-template #siIdentificado>
    <h3>Estas identificado en la app</h3>
    <button (click)="cerrarSesion()">Cerrar Sesión</button>
</ng-template>


<ng-template #noIdentificado>
    <p>No estas identificado en la app</p>
    <button (click)="setIdentificado()">Identificarme</button>
</ng-template>