li{
    text-transform: capitalize;
}

.altoPrecio{
    color: white;
    font-size: 1.5rem;
}

.fondoRojo{
    background-color: red;
    padding: 2px;
}

.subrayado{
    text-decoration: underline;
}