<hr>
<input type="text" [(ngModel)]="miMarca" (blur)="onBlur()">
<!-- (keyup.enter) evento que captura la presion de la tecla enter -->
<p>{{miMarca}}</p>
<button (click)="getMarca()">Ver Marca</button>
<button (click)="addMarca()">Añadir Marca</button>

<p><b>{{titulo}}</b></p>
<p><b>Compra las deportivas de las mejores marcas</b></p>
<ul>
    <li *ngFor="let item of marcas; let i = index">
        {{i+1}}.- {{item}}
        <button (click)="borrarMarca(i)">Borrar</button>
    </li>
</ul>


<p><b>Deportivas disponibles:</b></p>
<ul>
    <li *ngFor="let item of zapatillas">
        <span [ngStyle]="{
            'text-decoration': !item.stock ? 'line-through' : ' none'
            }">{{item.nombre}} 
        </span>
        <strong
        [class.altoPrecio]="item.precio >= 500"
        [ngClass]="{
            'fondoRojo': item.precio > 500,
            'subrayado': item.marca == 'Nike'
        }"
        >${{item.precio}}</strong>
        <span 
        *ngIf="item.precio < 500" 
        [style.background]="item.precio < 500 ? 'red' : 'transparent'"
        [style.color]="item.precio < 500 ? 'white' : 'transparent'"
        > OFERTA!</span>
    </li>
</ul>

<p><b>El color de la mayoria de nuestras zapatillas es:</b></p>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color predominante es <span [ngStyle]="{'background-color': color}">amarillo</span>
    </li>
    <li *ngSwitchCase="'blue'">
        El color predominante es <span [ngStyle]="{'background-color': color, 'color': 'white'}">azul</span>
    </li>
    <li *ngSwitchCase="'red'">
        El color predominante es <span [ngStyle]="{'background-color': color, 'color': 'white'}">rojo</span>
    </li>
</ul>