<h2>Contacto</h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
    <label for="nombre">Nombre</label><br>
    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required pattern="^([a-zA-Z]|\s)*$">
    <span *ngIf="nombre.touched && !nombre.valid">
        Verifique su nombre
    </span>
    <br>

    <label for="apellidos">Apellidos</label><br>
    <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required pattern="^([a-zA-Z]|\s)*$">
    <span *ngIf="apellidos.touched && !apellidos.valid">
        Verifique sus apellidos
    </span>
    <br>

    <label for="email">Email</label><br>
    <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" required>
    <span *ngIf="email.touched && !email.valid">
        Verifique su email
    </span>
    <br>

    <label for="mensaje">Mensaje</label><br>
    <textarea name="mensaje" cols="30" rows="10" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required>
    <span *ngIf="mensaje.touched && !mensaje.valid">
        Verifique su mensaje
    </span>

    </textarea><br>

    <input type="submit" value="Enviar" [disabled]='!formContacto.valid'>
</form>